  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3f3f3;
    
  }
  nav {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;

  }
  nav h1 {
    margin: 0;
    font-size: 20px;
  }
  nav input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 120px;
    margin-left: auto;
  }
   nav button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #10b981;
    color: white;
    margin-left: 3px;
    
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  .product-card {
    background: white;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-card img {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .product-info span {
    font-weight: bold;
  }
  .product-info button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .product-info button:hover {
    background-color: #1e40af;
  }
  /* #open-cart {
    display: block;
    background-color: #0480ec;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  #open-cart:hover {
    background-color: #5b21b6;
  } */
  .cart {
    padding: 20px;
    text-align: center;
  }
  .cart-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  .cart button {
    margin-top: 20px;
    background-color: #10b981;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  .cart button:hover {
    background-color: #059669;
  }
